
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
            background-image: url('../assets/background%20image%20key%20club.jpg');
            border-color: #000000;
        }
        
        .silex-id-1494111333613-0 {
            min-height: 69px;
            width: 1366px;
            top: 0px;
            left: 0px;
            background-color: rgba(154, 53, 167, 1);
            border-color: #000000;
        }
        
        .silex-id-1494254624931-3 {
            width: 269.2px;
            height: 69px;
            div.fixed position: function fixed;
            min-height: 20px;
            background-color: rgba(154, 53, 167, 0.7607843137254902);
            border-width: 2px 2px 2px 2px;
            border-style: solid;
            border-color: #001eef;
        }
        
        .silex-id-1494283920374-1 {
            width: 269.2px;
            top: 0px;
            left: 546px;
            height: 69px;
            .fixed position: fixed;
            min-height: 20px;
            background-color: rgba(154, 53, 167, 0.7607843137254902);
            border-width: 2px 2px 2px 2px;
            border-style: solid;
            border-color: #001eef;
        }
        
        .silex-id-1494283981157-2 {
            width: 269.19999999999993px;
            top: 0px;
            left: 819.3px;
            height: 69px;
            .fixed position: fixed;
            min-height: 20px;
            background-color: rgba(154, 53, 167, 0.7607843137254902);
            border-width: 2px 2px 2px 2px;
            border-style: solid;
            border-color: #001eef;
        }
        
        .silex-id-1494284065476-3 {
            width: 269.20000000000005px;
            top: 0px;
            left: 1092.4px;
            height: 69px;
            .fixed position: fixed;
            min-height: 20px;
            background-color: rgba(154, 53, 167, 0.7607843137254902);
            border-width: 2px 2px 2px 2px;
            border-style: solid;
            border-color: #001eef;
        }
        
        .silex-id-1494112043387-2 {
            width: 174px;
            top: 39px;
            left: 47.6px;
            div.fixed position: fixed;
            min-height: 27px;
            border-color: #000000;
        }
        
        .silex-id-1494111439614-1 {
            width: 157px;
            top: 7px;
            left: 56.1px;
            div.fixed position: fixed;
            min-height: 27px;
            border-color: #000000;
        }
        
        .silex-id-1494292889663-0 {
            min-height: 27px;
            width: 196px;
            top: 39px;
            left: 309.8px;
            background-color: transparent;
            border-color: #000000;
        }
        
        .silex-id-1494293068342-1 {
            min-height: 27px;
            width: 111px;
            top: 8px;
            left: 352.3px;
            border-color: #000000;
            background-color: transparent;
        }
        
        .silex-id-1494293169614-7 {
            min-height: 26px;
            width: 225px;
            top: 6px;
            left: 568.5px;
            border-color: #000000;
        }
        
        .silex-id-1494293168939-5 {
            min-height: 27px;
            width: 266px;
            top: 39px;
            left: 548px;
            border-color: #000000;
        }
        
        .silex-id-1494293166519-2 {
            min-height: 27px;
            width: 86px;
            top: 7px;
            left: 910.9px;
            border-color: #000000;
        }
        
        .silex-id-1494293167396-3 {
            min-height: 27px;
            width: 84px;
            top: 39px;
            left: 911.9px;
            border-color: #000000;
        }
        
        .silex-id-1494293168459-4 {
            min-height: 27px;
            width: 98px;
            top: 6px;
            left: 1178px;
            border-color: #000000;
        }
        
        .silex-id-1494293169265-6 {
            min-height: 27px;
            width: 210px;
            top: 39px;
            left: 1124px;
        }
        
        .silex-id-1494297559541-11 {
            min-height: 79px;
            width: 540px;
            top: 80px;
            left: 376px;
        }
        
        .silex-id-1494297732536-12 {
            min-height: 38px;
            width: 311px;
            top: 184px;
            left: 376px;
        }
        
        .silex-id-1496865917550-0 {
            width: 100px;
            min-height: 100px;
            top: 1583px;
            left: 536px;
        }
        
        .silex-id-1494283878906-0 {
            width: 269.2px;
            top: 297px;
            left: 276px;
            height: 69px;
            .fixed position: fixed;
            min-height: 20px;
            background-color: rgba(154, 53, 167, 0.7607843137254902);
            border-width: 2px 2px 2px 2px;
            border-style: solid;
            border-color: #001eef;
        }
        
        .silex-id-1496866459609-1 {
            width: 273.2px;
            top: 0px;
            left: 275px;
            position: fixed;
            right: 0px;
            min-height: 73px;
        }
    